/*
Colors used:
Background Color (buttercream): #EFE1CE;
Primary Color (black): #000000;
Accent color (desert mist): #e0b589;
*/
* {
box-sizing: border-box;
}

header {
	background-color: #EFE1CE ;
	text-align: center;
	padding: 10px 0;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.75);
	position: fixed;
	display: inline-block;
	width: 100%;
}

main {
	padding-top: 150px; /*header too big, can't make logo smaller*/
}

body {
	background-color: white;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6;
	color: black;
}

h1,
h2,
h3,
h4 {
	line-height: 1.4;
}
h1 {
	font-size: 2.75em;
	font-weight: 800;
	padding: 20px 0;
}
h2 {
	font-size: 2.25em;
	font-weight: 700;
	color: #EFE1CE;
	text-align: center;
	margin: 10px 0;
	padding: 10px 0;
}

h3 {
	font-size: 1.75em;
	font-weight: 400; 
}

h4 {
	font-size: 1.35em;
	font-weight: 400;
}

img {
	width: 100%;
}

a {
	color: coral;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

footer {
	background-color: #EFE1CE;
	text-align: center
}

footer h2 {
	color:black;
}

svg {
	width: 70px;
	height: 70px;
	margin-top: 25px;
	padding: 10px 10px;
}

#headshot {
	max-width: 20px;
	max-height: 20px;
	align-content: center;
}

#social {
	margin-top: 25px 10px;
	display: inline-block;
}

/* a:visited {
	color: blue;
} */

a:active {
	color: #e0b589;
}

.button {
	display: inline-block;
	background-color: #e0b589;
	color: #ffffff;
	font-weight: 400;
	padding: 6px 12px;
	border: none;
	border-radius: 4px;
	transition: 0.2s all;
	border: 2px solid transparent;
	transition: all 0.2s;
}

.button:hover {
	opacity: 0.8;
	color: #e0b589;
	background-color: transparent;
	border: 1px solid #e0b589;
	text-decoration: none;
	transition: all 0.5s;
}

.button.contact {
	display: inline-block;
	background-color: #e0b589;
	color: white;
	font-weight: 400;
	padding: 6px 12px;
	border-radius: 4px;
	border: 2px solid transparent;
	transition: all 0.2s;
}

.button.contact:hover {
	opacity: 0.8;
	color: #e0b589;
	background-color: transparent;
	border: 1px solid #e0b589;
	text-decoration: none;
	transition: all 0.5s;
}

#first-title {
color: #e0b589; 
font-weight: 700;
}

/*layout styling*/


.container {
	padding: 0 15px;
}

#work .row {
	margin: 25px 0; 
	padding-bottom: 25px;
}

#hero {
	text-align: center;
	padding: 20px 0;
	display: inline-block;
	width: 100%;
}

.logo {
	max-width: 80px;
}

.myNav > ul {
	list-style-type: none;
	padding: 0;
	width: 100%;
}

.myNav > ul > li {
	display: inline-block;
}

.myNav > ul > li > a {
	padding: 0 15px;
	text-transform: uppercase;
	font-weight: 800;
	color:black
}
.myNav > ul > li > a:hover {
	opacity: 0.8;
	text-decoration: underline;
	color: #e0b589;
	transition: all 0.3s;
}